li{
    float:right;
    padding: 10px;
    margin: 10px;
}

img {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color:white; */
    /* position: fixed; */
    background:white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

/* header{
   
} */

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111111;
}

h3{
    color: rgb(0, 140, 255);
}

body{
   background-image: url("img/sample-pattern.png");
   font-family: "Slabo";
   margin: 
}

/* section{
    
} */

article{
    padding: 10px;
    background: white;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    border: solid 1px rgba(255,255,255,.5);
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: grey;
}

footer{
   
    background: #111111;
    color: aliceblue;
    height: 50px;
    width: 100%;
}

h5{
    text-align: center;
}

